header {
    background-color:white;
    height: 70px;
    width: 2000px;
    border-bottom: 1px solid #CCCCCC;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 20px;
}
