header {
    background-color: white;
    height: 70px;
    width: 100px;
    border-bottom: 1px solid #CCCCCC;
    background-image: url(../images/logo.png) center center no-repeat;
    background-position-y: center;
    background-position-x: 20px;
}
