.filters {
  background-color: white;
  height: 70px;
  width: 100%;
  border: 1 px solid #DDDDDD
  border-radius: 4px;
  position: relative;
  align-items: center;
  display: flex;
}

.filters Button {
  font-size: 18px;
  background-color: #FF5A5F;
  color: #FFFFFF;
  height: 48px;
  width: 20%;
  border-radius: 4px;
  border: 0;
  margin-right: 30px;
  right: 0;
  position: absolute;
}

button:hover {
  opacity: 90%
}
